name: Setup Infrastructure

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  provision:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.GHA_RUNNER_ROLE }}
          aws-region: us-east-1

      - name: Setup Lambda
        env:
          MONGO_CLUSTER_HOSTNAME: ${{ secrets.MONGO_CLUSTER_HOSTNAME }}
          STRIPE_API_KEY: ${{ secrets.STRIPE_API_KEY }}
          AWS_SES_SENDER_EMAIL: ${{ secrets.AWS_SES_SENDER_EMAIL }}
          APP_NAME: ${{ env.APP_NAME }}
          IMAGE_REPO: ${{ secrets.IMAGE_REPO }}
          APP_ROLE_NAME: ${{ secrets.APP_ROLE_NAME }}
        run: |
          # Create Lambda (if not exists)
          if ! aws lambda get-function --function-name $APP_NAME; then
            aws lambda create-function \
              --function-name $APP_NAME \
              --package-type Image \
              --code ImageUri="${IMAGE_REPO}:latest" \
              --role "${APP_ROLE_NAME}" \
              --environment "Variables={MONGO_CLUSTER_HOSTNAME=${MONGO_CLUSTER_HOSTNAME},APP_NAME=${APP_NAME},AWS_SES_SENDER_EMAIL=${AWS_SES_SENDER_EMAIL},STRIPE_API_KEY=${STRIPE_API_KEY}}"
          else
          echo "Lambda function already exists. Updating..."
            aws lambda update-function-configuration \
            --function-name $APP_NAME \
            --environment "Variables={MONGO_CLUSTER_HOSTNAME=${MONGO_CLUSTER_HOSTNAME},APP_NAME=${APP_NAME},AWS_SES_SENDER_EMAIL=${AWS_SES_SENDER_EMAIL},STRIPE_API_KEY=${STRIPE_API_KEY}}"
          fi

          # Configure Lambda Log Retention to 7 days
          aws logs put-retention-policy \
          --log-group-name /aws/lambda/$LAMBDA_NAME \
          --retention-in-days 7          

      - name: Create Lambda URL
        env:
          APP_NAME: ${{ env.APP_NAME }}
        run: |
          aws lambda create-function-url-config \
              --function-name $APP_NAME \
              --auth-type NONE